
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% load static %}
    <div class="container-fluid">
      <img src="{% static 'logo.jpg' %}" style="height:3rem;" alt="error:404">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:contact' %}">contact us</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'giveaway:giveaway' %}">Giveawaya</a>
          </li>
        </ul>
        {% if login_is %}
        <p class="text-light mt-3">Hello! {{user.username}}</p>
        <a href="{% url 'auth:logout' %}" class="btn btn-success ms-4">Logout</a>
        {% else %}
        
        <a href="{% url 'auth:login' %}" class="btn btn-success me-4">Login</a>
        <a href="{% url 'auth:signin' %}" class="btn btn-success">Signin</a>
        {% endif %}
      </div>
    </div>
</nav>

