{% extends 'form-base.html' %}

{% block heading %}Login please{% endblock heading %}

{% block actionurl %}{% endblock actionurl %}

{% block inputfileds %}

    <form action="{% url 'auth:login' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
        </div>
        <button class="btn btn-primary">submit</button>
    </form>

    <a href="{% url 'home:home' %}" style="margin-top:1rem;">skip login ->></a> <br>
    <a href="{% url 'auth:signin' %}" style="margin-top:1rem;">Create a account ->></a>
{% endblock inputfileds %}